.header-container {
  display: flex;
  margin-bottom: 20px;
  .buttons {
    display: flex;
    text-align: center;
    margin-left: auto;
    .watchlists {
      margin-right: 20px;
    }
    button {
      height: 40px;
      width: 130px;
    }
  }
  .header-title {
    text-align: center;
    color: white;
  }
  h1 {
    margin: unset;
  }
}
